<!-- Optional footer content -->

<a id="myLinks" class="afooter" title="Click To Discover" aria-label="Click To Discover" target="_blank">
  <img id="myPicture" class="imgFooter" />
</a>

<script type="text/javascript">

  window.onload = choosePic;

   if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

    var myPix = new Array("{{ site.imagesdir }}plateau_bot.jpg"
        ,"{{ site.imagesdir }}banner_bot.jpg"
        ,"{{ site.imagesdir }}/palisade_bot.jpg"
        ,"{{ site.imagesdir }}dome_bot.jpg")


   } else {

    var myPix = new Array("{{ site.imagesdir }}plateau_side2.jpg"
        ,"{{ site.imagesdir }}banner_side2.jpg"
        ,"{{ site.imagesdir }}palisade_side2.jpg"
        ,"{{ site.imagesdir }}dome_side2.jpg")

   }

  var myLinks = new Array("https://www.google.com/search?q=bighorn+plateau"
      ,"https://www.google.com/search?q=banner+peak"
      ,"https://www.google.com/search?q=palisade+lakes+california"
      ,"https://www.google.com/search?q=half+dome");


function choosePic() {
     var randomNum = Math.floor(Math.random() * myPix.length);
     document.getElementById("myPicture").src = myPix[randomNum];
     document.getElementById("myLinks").href = myLinks[randomNum];
   }
</script>
